@using Front.Models.ViewModels.Rooms
@model RoomlistVM
@*@{
    int index = 0;
}*@

@functions{
    private void Star(double star)
    {
        if(!double.IsNaN(star)){
            int num = (int)(star * 2);
            int devide = num / 2;
            int half = num % 2;
            int left = 5 - devide - half;

            for(int i=0;i < devide;i++)
            {
                <i class="fas fa-star"></i>
            }
            for(int i=0;i < half;i++)
            {
                <i class="fas fa-star-half-alt"></i>
            }
            for(int i=0;i < left;i++)
            {
                <i class="far fa-star"></i>
            }
        }
        else{
            <div>尚無評價</div>
        }
    }
    private void InWishList(int roomId)
    {


        if (Model.WishList.Any(wl => wl == roomId))
        {
            <i class="far fa-heart index_@roomId fas"></i>
        }
        else
        {
            <i class="far fa-heart index_@roomId"></i>
        }
    }
}

<div class="container">
    <div class="list-container">
        <div class="left-col">
            

            @foreach(var room in Model.Rooms)
            {
            <div class="house">
                <div class="house-img">
                    <a href="~/RoomDetail/RoomDetail/@room.roomId">
                        <img src="@room.ImgUrl" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p> @room.Title</p>
                    
                    <h3>@room.HouseInfo</h3>

                    <p>@room.BedCount 床 / @room.BathCount 廁所 </p>

                    @{Star(room.Rating);}
                    <br/>
                    <button onclick="InsertWishList(@room.roomId)" class="btnc" style="cursor: pointer; border: none; background-color: transparent;">
                       @* <i class="far fa-heart" ></i>  *@     @*index_@room.roomId*@
                        @{InWishList(room.roomId);}
                    </button>
                    <div class="house-price">
                        <h4>$@room.RentPrice<span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            }
        </div>
    </div
</div>

@*@section endJS{
    var wishList = document.querySelector("btnc")
    function DisplayLike(roomId){
        var element = document.querySelector(`.index(${roomId})`);
        console.log(element);
        element.classList.toggle("mystyle");
    }
}*@