@using Front.Models.ViewModels.Rooms
@model dynamic

@functions{
    private void Star(double star)
    {
        if(!double.IsNaN(star)){
            int num = (int)(star * 2);
            int devide = num / 2;
            int half = num % 2;
            int left = 5 - devide - half;

            for(int i=0;i < devide;i++)
            {
    <i class="fas fa-star"></i>
            }
            for(int i=0;i < half;i++)
            {
    <i class="fas fa-star-half-alt"></i>
            }
            for(int i=0;i < left;i++)
            {
    <i class="far fa-star"></i>
            }
        }
        else{
    <div>尚無評價</div>
        }
    }
}

<div class="container">
    <div class="list-container">
        <div class="left-col">
            @if(!(Model.RoomsCard.City == "0"))
            {
                <h1>選擇地點 : @Model.RoomsCard.City</h1>
            }
            else
            {
                <h1>選擇地點 : 全部</h1>
            }

            @foreach(var room in Model.RoomsCard.Rooms)
            {
            <div class="house">
                <div class="house-img">
                    <a href="~/RoomDetail/RoomDetail/@room.RoomId">
                        <img src="@room.ImgUrl" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p> @room.Title</p>
                    
                    <h3>@room.HouseInfo</h3>

                    <p>@room.BedCount 床 / @room.BathCount 廁所 </p>
                    
                    @{Star(room.Rating);}
                    <div class="house-price">
                        <h4>$@room.RentPrice<span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            }
        </div>

        <div class="right-col">
            <div class="sidebar">
                <h2>篩選</h2>
                <h3>房屋總類</h3>
                @foreach(var roomType in @Model.RoomType)
                {
                <div class="filter">
                    <input type="checkbox">
                    <p>@roomType.RoomTypeName</p> 
                </div>
                }
                
                <h3>設施</h3>
                @foreach(var facility in @Model.Facility)
                {
                <div class="filter">
                    <input type="checkbox">
                    <p>@facility.FacilityName</p> 
                </div>
                }
                
                @*<div class="sidebar-link">
                    <a href="#">更多</a>
                </div>*@
                <div class="sidebar-link">
                    <a id="ClearFilter" href="#">清除勾選</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="app">
    <div class="options">
        <h3>Size</h3>
        <template v-for="option in size">
            <input :id="option" type="checkbox" :value="option" v-model="checked.size"><label :for="option">{{ option
                }}</label>
        </template>

        <h3>Heel</h3>
        <template v-for="option in heel">
            <input :id="option" type="checkbox" :value="option" v-model="checked.heel"><label :for="option">{{ option
                }}</label>
        </template>

        <h3>Color</h3>
        <template v-for="option in color">
            <input :id="option" type="checkbox" :value="option" v-model="checked.color"><label :for="option">{{ option
                }}</label>
        </template>
            
    </div>
    <div class="shoes">
        <div v-for="shoe in shoes" v-show="visible(shoe.size, shoe.heel, shoe.color)">
            <h3>{{ shoe.name }}</h3>
            <p>Sizes: <template v-for="(size, index) in shoe.size">{{ size }}{{ index == shoe.size.length - 1 ? '' : ',' }}</template></p>
            <p>Heel: <template v-for="(heel, index) in shoe.heel">{{ heel }}{{ index == shoe.heel.length - 1 ? '' : ', '}}</template></p>
            <p>Color: <template v-for="(color, index) in shoe.color">{{ color }}{{ index == shoe.color.length - 1 ? '' :', ' }}</template></p>
        </div>
    </div>
</div>
@section topCSS{

}

@section endJS{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    @*<link href="~/js/RoomListFilter.js" />*@
    <link src="~/js/RoomListFilter.js" />
}