@using Front.Models.ViewModels.Rooms
@model RoomlistVM

@functions{
    private void Star(double star)
    {
        if(!double.IsNaN(star)){
            int num = (int)(star * 2);
            int devide = num / 2;
            int half = num % 2;
            int left = 5 - devide - half;

            for(int i=0;i < devide;i++)
            {
                <i class="fas fa-star"></i>
            }
            for(int i=0;i < half;i++)
            {
                <i class="fas fa-star-half-alt"></i>
            }
            for(int i=0;i < left;i++)
            {
                <i class="far fa-star"></i>
            }
        }
        else{
            <div>尚無評價</div>
        }
    }
}

<div class="container">
    <div class="list-container">
        <div class="left-col">
            <p>200+ 選擇</p>
            @if(!(Model.City == "0"))
            {
            <h1>選擇地點 : @Model.City</h1>
            }

            @foreach(var room in Model.Rooms)
            {
            <div class="house">
                <div class="house-img">
                    <a href="~/RoomDetail/RoomDetail/@room.roomId">
                        <img src="@room.ImgUrl" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p> @room.Title</p>
                    
                    <h3>@room.HouseInfo</h3>

                    <p>@room.BedCount 床 / @room.BathCount 廁所 </p>
                    
                    @{Star(room.Rating);}
                    <div class="house-price">
                        <h4>$@room.RentPrice<span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            }
           
            @*<div class="house">
                <div class="house-img">
                    <a href="house.html">
                        <img src="~/images/image-s2.png" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p>陽印成他老家j</p>
                    <a href="house.html">
                        <h3>單人套房內含對外窗</h3>
                    </a>
                    <p>1 床 / 1 廁所 / Wifi / 廚房</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 人</p>
                        <h4>$ 100 <span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <a href="house.html">
                        <img src="~/images/image-s3.png" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p>陽印成他老家</p>
                    <a href="house.html">
                        <h3>單人套房內含對外窗</h3>
                    </a>
                    <p>1 床 / 1 廁所 / Wifi / 廚房</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 人</p>
                        <h4>$ 100 <span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <a href="house.html">
                        <img src="~/images/image-s4.png" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p>陽印成他老家</p>
                    <a href="house.html">
                        <h3>單人套房內含對外窗</h3>
                    </a>
                    <p>1 床 / 1 廁所 / Wifi / 廚房</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 人</p>
                        <h4>$ 100 <span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <a href="house.html">
                        <img src="~/images/image-s5.png" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p>陽印成他老家</p>
                    <a href="house.html">
                        <h3>單人套房內含對外窗</h3>
                    </a>
                    <p>1 床 / 1 廁所 / Wifi / 廚房</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 人</p>
                        <h4>$ 100 <span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <a href="house.html">
                        <img src="~/images/image-s6.png" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p>陽印成他老家</p>
                    <a href="house.html">
                        <h3>單人套房內含對外窗</h3>
                    </a>
                    <p>1 床 / 1 廁所 / Wifi / 廚房</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 人</p>
                        <h4>$ 100 <span>/ 天</span></h4>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="right-col">
            <div class="sidebar">
                <h2>篩選</h2>
                <h3>房屋總類</h3>
                <div class="filter">
                    <input type="checkbox">
                    <p>透天</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>旅館</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>公寓</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>小木屋</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>套房</p> <span>(0)</span>
                </div>

                <h3>設施</h3>
                <div class="filter">
                    <input type="checkbox">
                    <p>冷氣</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>網路</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>健身房</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>游泳池</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox">
                    <p>廚房</p> <span>(0)</span>
                </div>

                <div class="sidebar-link">
                    <a href="#">更多</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <img src="images/arrow.png" alt="">
        <span class="current"><a href="~/Rooms/roomlist">1</a></span>
        <span><a href="~/Rooms/roomlistPage2">2</a></span>
        <span><a href="~/Rooms/roomlistPage3">3</a></span>

        <img src="~/images/arrow.png" class="right-arrow" alt="">
    </div>
</div>