@using Front.Models.ViewModels.Rooms
@model dynamic

@functions{
    private void Star(double star)
    {
        if(!double.IsNaN(star)){
            int num = (int)(star * 2);
            int devide = num / 2;
            int half = num % 2;
            int left = 5 - devide - half;

            for(int i=0;i < devide;i++)
            {
    <i class="fas fa-star"></i>
            }
            for(int i=0;i < half;i++)
            {
    <i class="fas fa-star-half-alt"></i>
            }
            for(int i=0;i < left;i++)
            {
    <i class="far fa-star"></i>
            }
        }
        else{
    <div>尚無評價</div>
        }
    }
}

<div class="container">
    <div class="list-container">
        <div class="left-col">
            @if(!(Model.RoomsCard.City == "0"))
            {
                <h1>選擇地點 : @Model.RoomsCard.City</h1>
            }
            else
            {
                <h1>選擇地點 : 全部</h1>
            }

            @foreach(var room in Model.RoomsCard.Rooms)
            {
            <div class="house">
                <div class="house-img">
                    <a href="~/RoomDetail/RoomDetail/@room.RoomId">
                        <img src="@room.ImgUrl" alt="">
                    </a>
                </div>
                <div class="house-info">
                    <p> @room.Title</p>
                    
                    <h3>@room.HouseInfo</h3>

                    <p>@room.BedCount 床 / @room.BathCount 廁所 </p>
                    
                    @{Star(room.Rating);}
                    <div class="house-price">
                        <h4>$@room.RentPrice<span>/ 天</span></h4>
                    </div>
                </div>
            </div>
            }
        </div>

        <div class="right-col">
            <div class="sidebar">
                <h2>篩選</h2>
                <h3>房屋總類</h3>
                @foreach(var roomType in @Model.RoomType)
                {
                <div class="filter">
                    <input type="checkbox">
                    <p>@roomType.RoomTypeName</p> 
                </div>
                }
                
                <h3>設施</h3>
                @foreach(var facility in @Model.Facility)
                {
                <div class="filter">
                    <input type="checkbox">
                    <p>@facility.FacilityName</p> 
                </div>
                }
                
                @*<div class="sidebar-link">
                    <a href="#">更多</a>
                </div>*@
                <div class="sidebar-link">
                    <a id="ClearFilter" href="#">清除勾選</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS{

}

@section endJS{

}