@using Front.Models.ViewModels.RoomDetails
@model RoomDetailVM

@functions{
    private void FacilityPrint(List<FacilityIcon> fIcon)
    {
        foreach(var item in fIcon)
        {
    <div class="col-6 d-flex my-3"><div class="d-flex justify-content-end col-4"><i class=" @item.FacilityDisplay  justify-content-center"></i></div> <p class="col-8 d-flex align-items-center">@item.FacilityName</p></div>
        }
    }
    private void Star(double star)
    {
        if(!double.IsNaN(star)){
            int num = (int)(star * 2);
            int devide = num / 2;
            int half = num % 2;
            int left = 5 - devide - half;

            for(int i=0;i < devide;i++)
            {
    <i class="fas fa-star"></i>
            }
            for(int i=0;i < half;i++)
            {
    <i class="fas fa-star-half-alt"></i>
            }
            for(int i=0;i < left;i++)
            {
    <i class="far fa-star"></i>
            }
        }
        else{
    <div>尚無評價</div>
        }
    }
}

<div class="house-details">
        <div class="house-title">
            <h1>@Model.Title</h1>
            <div class="row">
                <div>
                    @*@{Star(Model.Rating);}*@
                    <span>@Model.BrowseCount 觀看紀錄</span>
                </div>
                <div>
                    <p>地點 : @Model.Address</p>
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-img-1"><img src="@Model.ImgUrls[0]"></div>
            @for(int i = 1;i<@Model.ImgUrls.Count;i++)
            {
            <div><img src=" @Model.ImgUrls[i]"></div>
            }
        </div>
        
        <div class="small-details">
            <h4>價格 : $@Model.RentPrice / day</h4>
            <p>@Model.BedCount <strong>床</strong> / @Model.BathCount <strong>廁所</strong></p>

        </div>
        <form class="check-form" method="post" action="~/Order/bankAccount/@Model.RoomId">
            <div>
                <label>入住時間 : </label>
                <input type="datetime-local" id="checkin-time" name="CheckinTime" value="">
            </div>
            <div class="checkout">
                <label>退房時間 : </label>
                <input type="datetime-local" id="checkout-time" name="CheckoutTime" value="">
            </div>

            <!-- <button type="submit"></button> -->
            <button type="submit">預定</button>
        </form>

        <div class="service-item">
            <h4>有提供的設備與服務</h4>
            <div class="groupitem">

                @{FacilityPrint(Model.FacilityItem);}
            </div>
        </div>
    
        
        <hr class="line">
        

        <section class="house-comment">
            <div class="comment-rating">

                @{var roomStar = Math.Round(Model.RatingStar, 1); }
                <i class="fas fa-star"> </i>@roomStar
                    <h3>@Model.CommentCount 則評論</h3>
                </div>
                

        </section>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper content">
                @foreach(var person in Model.CommentItem)
                {
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="list">
                                <div class="image">
                                    <img src="https://raw.githubusercontent.com/YongChyi/YongChyi.github.io/main/45296.jpg">
                                </div>
                                <div class="name-profession">
                                    <span class="name">@person.CommentName</span>
                                    <p>@person.CommentDate</p>
                                </div>
                            </div>
                            <div class="comment">
                                <p>@person.CommentContent</p>
                            </div>

                            <div class="rating">
                                @*@{Star(person.PersonRatingStar);}*@
                                @{var personStar = Math.Round(person.PersonRatingStar, 1); }
                                <i class="fas fa-star"></i>@personStar
                            </div>
                        </div>
                    </div>
                }
                    
                   
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>




            <hr class="line">

            <p class="home-desc">@Model.Description</p>

            <hr class="line">

            <div class="map">
                <h3>地圖上的位置</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115631.41940935176!2d121.49146110148175!3d25.08554513658272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ac6b61dbbd8b%3A0xbcd1baad5c06a482!2z5Y-w5YyX5biC!5e0!3m2!1szh-TW!2stw!4v1653807291819!5m2!1szh-TW!2stw"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <b>@Model.City @Model.District @Model.Address</b>
            </div>

            <hr class="line">

            <div class="host">
                <img src="@Model.HostPic" alt="">
                <div>
                    <h2>房東 : @Model.HostName</h2>
                    <p>
                        <span>
                            @{Star(Model.HostRatingStar);}
                            &nbsp; &nbsp; 加入時間：@Model.JoinTime &nbsp; &nbsp; 最後上線時間 : @Model.LastOnlineTime 個小時以上
                        </span>
                    </p>
                </div>
            </div>
            <a href="host.html" class="contact-host">連絡房東</a>
        </div>
    </div>