

<div class="d-flex justify-content-center" id="app">
    <div class="title">
        <h1 class="text-white"><strong>下列哪項最能確切描述你的房源？</strong></h1>
    </div>
    <div class="right">
        <div class="d-flex">
            <div class="btngroup">
                @* <button type="button" class="btn-h"><strong>協助</strong></button>*@
                <a class="btn-h" href="~/BecomeHost/Index"><strong>退出</strong></a>
            </div>
        </div>
        <div class="property-type-group" >
            <button v-on:click="SendValue(6)" type="button" class="type" id="rental" value="6">
                <p class="grouptitle"><strong>出租住所</strong></p>
                <p style="font-size: 14px; color:#9D9D9D; width: 70%;">集合住宅大樓或複合式建築中的出租屋。</p>
            </button>
            <button v-on:click="SendValue(7)" type="button" class="type" id="private" value="7" >
                <p class="grouptitle"><strong>私有公寓</strong></p>
                <p style="font-size: 14px; color:#9D9D9D; width: 70%;">位於集合住宅大樓或複合式建築的住處，產權歸住戶所有。</p>
            </button>
            <button v-on:click="SendValue(8)" type="button" class="type" id="loft" value="8">
                <p class="grouptitle"><strong>Loft空間</strong></p>
                <p style="font-size: 14px; color:#9D9D9D; width: 70%;">開放式的公寓，內牆可能較矮。</p>
            </button>
            <button v-on:click="SendValue" type="button" class="type" id="serviced">
                <p class="grouptitle"><strong>服務式公寓</strong></p>
                <p style="font-size: 14px; color:#9D9D9D; width: 70%;">由專業管理公司提供飯店式管理服務的公寓。</p>
            </button>
            <button v-on:click="SendValue" type="button" class="type" id="cuban">
                <p class="grouptitle"><strong>古巴式家庭旅館</strong></p>
                <p style="font-size: 14px; color:#9D9D9D; width: 70%;">古巴式家庭旅館內的獨立房間。</p>
            </button>
            <button v-on:click="SendValue" type="button" class="type" id="holiday-house">
                <p class="grouptitle"><strong>度假屋</strong></p>
                <p style="font-size: 14px; color:#9D9D9D; width: 70%;">裝潢齊全的出租房源，包括廚房和浴室，且可能會提供前台等客房服務。</p>
            </button>
        </div>
        <div class="last-bar">
            <button type="button" class="back"><strong>返回</strong></button>
            <button v-on:click="CreateRoom()" type="button" class="next btn-dark" id="next" v-bind:disabled="addVerify"><a href="@Url.Action("privacy_type","BecomeHost")"></a>下一步</button>
        </div>
    </div>
</div>

@section TopCSS{
    <style>
        .title{
            background: url(https://a0.muscache.com/im/pictures/Hosting/Gradient/original/4abb91ab-2c70-46d7-80a5-9c83ef0221ef.png) no-repeat;
            background-size: cover;
            width: 100%;
            height: 60vh;
            display: flex;
            position: fixed;
            left:0;

        }
        .title h1{
            margin: auto;
            text-align: center;
            font-size: 40px;
        }

        .right{
            width: 100%;
            height: 60vh;
            position: fixed;
            right: 0;
            bottom: -10vh;
            background-color: white;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        .property-type-group{
            overflow: scroll;
            width: 100%;
            height: 30vh;
            margin-top: 5vh;
            margin-left: 10vh;
            margin-bottom: 70vh;
        }
        
        .type{
            width: 70%;
            margin: 20px;
            display:block;
            display:flex;
            justify-content:space-between;  
            padding: 10px 30px;
            border-radius: 10px;
            border: 1px solid #D0D0D0;
            background-color: transparent;
        }

        .type:focus{
            border:2px solid black; 
        }

        .type:hover{
            border:2px solid black; 
        }

        .property-type-group img{
            width: 60px;
            vertical-align: middle;
            border-radius: 5px;
        }

        .property-type-group p{
            margin:15px 0px;
            
        }

        .btngroup{
            width: 100%;
            position: fixed;
            top:0;
            right: -50%;
            background-color: transparent;
            padding-top: 20px;
            padding-bottom: 20px; 
            justify-content: flex-end;
            z-index: 0;
        }
        .btn-h{
            text-decoration:none;
            color:black;
            width: 20%;
            background-color: #F0F0F0;
            border-radius: 20px;
            border:none;
            margin: 10px;
            padding: 5px 10px;
            font-size: 10px;
        }

        .last-bar{
            position: fixed;
            width: 100%;
            right:0;
            bottom:0;   
            background-color: white;
            padding: 20px;
            border-top: 2px solid #F0F0F0;
            display: flex;
            justify-content: space-between;
        }

        .back{
            position: relative;
            top: 0;
            left: 0;
            background-color: transparent;
            border:none;
            text-decoration: underline;
        }

        .next{
            position: relative;
            right:0;
            top:0;
            padding:10px 15px;
            width: 20vh;
            border-radius:10px;
            border: none;
            background-color: #D0D0D0;
           
        }

        ::-webkit-scrollbar {
        width: 0px;
        }

    </style>
    <style media="screen and (min-width:744px)">
        .title{
            width: 50%;
            height: 100vh;
            align-items: center;

        }
        .title h1{
        
            font-size: 50px;
        }

        .right{
            width: 50%;
            height: 100vh;
            bottom: 0;
            
        }
        ::-webkit-scrollbar {
        width: 0px;}

        .property-type-group{
            height: 60vh;
            margin-top: 18vh;
            
        }
        
        .type{
            height: 15vh;
            width: 80%;
            align-items: center;
            justify-content:left;             
        }

        .grouptitle{
            width: 30%;
            padding-right:20px;
    
        }

        .property-type-group p{
            margin:10px 0px;
            text-align:start;
            
        }

        .btngroup{
            width: 50%;
            background-color: white;
            z-index: 0;
            right:-25%;
        }
        .btn-h{
            text-decoration:none;
            color:black;
            height: 35px;
            padding: 5px 15px;
        }

        .last-bar{
            display: flex;
            width: 50%;
            right:0;
            bottom:0;   
        }
    </style>
}

@section EndJS{
    @*<script>
        const btn = document.getElementById('next');
         window.onload = function(){
                btn.style.backgroundColor = "#D0D0D0";
            };
        document.getElementById("rental").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("privacy_type","BecomeHost")"; 
            }};
        document.getElementById("private").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("privacy_type","BecomeHost")"; 
            }};
         document.getElementById("loft").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("privacy_type","BecomeHost")"; 
            }};
         document.getElementById("serviced").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("privacy_type","BecomeHost")"; 
            }};
         document.getElementById("cuban").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("privacy_type","BecomeHost")"; 
            }};
         document.getElementById("holiday-house").onclick = function(){
                btn.style.backgroundColor = "black";
                btn.onclick = function(){
            location.href = "@Url.Action("privacy_type","BecomeHost")"; 
            }};
    </script>*@


    <script>

        let app = new Vue({
            el:'#app',
            data:{
                value: {
                    roomPropertyId: 0,
                },
                addVerify:true
            },
            methods:{
                SendValue(value){
                    console.log(value),
                    this.addVerify = false
                    this.value.roomPropertyId = value
                },
                CreateRoom(){
                    axios.post('/api/PublishRoomAPI/Create', this.value)
                    .then((res) =>
						{
							console.log(res)
							if(res.data.status === 20000)
							{
								toastr.success('新增成功')
                                window.location.href="privacy_type"
							}
							else
                            {
								toastr.error('新增失敗')
							}
						})
                    }
                
            }  
        })
    </script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>*@
	
	@*<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	*@
	@*<script
		src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
		integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
		crossorigin="anonymous"
	></script>*@
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
    ></script>
    @*<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
    ></script>
    <!-- toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>*@
    <!-- Axios -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous"
    ></script>
}